
body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.nodisplay {
    display: none;
}



.demo-sorting-asc {
    background-color: blue;
}

.demo-sorting-desc {
    background-color: green;
}

